/*** sectioning elements ***/

body {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #F7CDA5
}

header {

}

main {

}

footer {

}

nav {

}

section {

}

aside {

}


/**** content styles ***/

h1 {
font-family: 'Stint Ultra Expanded', cursive;
}

h2 {
font-family: 'Stint Ultra Expanded', cursive;
}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p {
font-family: 'Slabo 27px', serif;
}

blockquote {

}

ol {

}

ul {

}

li {

}

table {

}

tr {

}

th {

}

td {

}


/*** image styles ***/

img  {

}


/*** link styles ***/

a:link {

}

a:visited {

}

a:hover {

}

a:active {

}
